.app-running-on-current-workspace {
  margin-left: 2px;
  margin-right: 2px;

  border-top: 2px solid rgba(255, 255, 255, 1);

  padding-top: 1px;
  padding-bottom: 2px;
}

.app-running-noton-current-workspace {
  margin-left: 2px;
  margin-right: 2px;

  border-top: 2px solid rgba(255, 255, 255, 0.6);

  padding-top: 1px;
  padding-bottom: 2px;
}

.app-notrunning {
  margin-left: 2px;
  margin-right: 2px;

  border-top: 2px solid rgba(255, 255, 255, 0);

  padding-top: 1px;
  padding-bottom: 2px;
}
